h1 {
    text-align: center;
}
nav {
    /* overflow: hidden; */
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    border: 0cm;
}
header {
    background-color:white;
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: -8;
}
footer {
    margin-top: 10px;
    margin-bottom: 50px;
    overflow: hidden;
    width: 100%;
    border: 0cm;
    color: white;
    text-align: center;
    background-color:black;
    bottom: 0;
}
ul{
    float:right;
    text-align: center;
    padding-right: 35px;
}
li {
    display: inline;
    padding: 15px;
}
body {
    background-image: url("../image/pattern.jpg");
}
section {
    margin: 70px 180px 0px 180px;
    padding: 10px;
    background-color: white;
}
div {
    border-bottom: 1px groove;
}