.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  border: 1px solid black;
  margin: 10px 50px 0 50px;
  border-radius: 10px;
  padding: 15px;
}

th {
  vertical-align: bottom;
  text-align: left;
  padding: 15px;
}

td {
  padding-left: 25px;
  text-align: left;
}

.btn {
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
}